* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Inter, sans-serif;
	background: #e5e5e5;
}

section {
	width: 375px;
	margin: 0 auto;
	background: #fff;
}

.header-mobile {
	width: 375px;
	margin: 0 auto;
	background: #fff;
	padding: 11px 28px 11px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
}

.content a {
	color: #3a4a42;
}

.resume a {
	color: #fff;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	background: #36b37f;
	padding: 12px;
	border-radius: 4px;
}

.welcome a {
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	color: #28352f;
	text-decoration: none;
}

.strength li a {
	color: #36b37e;
}

.menu {
	width: 16px;
	height: 10px;
}

main {
	width: 375px;
	margin: 0 auto;
}

.skeleton {
	background-image: url("/images/skeleton.svg");
	background-repeat: no-repeat;
}

.intro {
	margin: 0 24px;
	text-align: center;
	font-weight: 700;
	padding-top: 74px;
	margin-bottom: 25px;
	line-height: 52px;
}

.denis {
	color: #172b4d;
	font-size: 40px;
}

.trade {
	color: #36b37e;
	font-size: 40px;
}

.advert {
	margin: 0 24px;
	padding-bottom: 60px;
}

.strength p {
	color: #344563;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.advert p {
	color: #172b4d;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
}

.social {
	padding-bottom: 22px;
}

.social ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 102px;
	padding-bottom: 64px;
}

li {
	list-style: none;
}

.union {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #acb7c3;
}

/* mobile version starts here */
.recent-works {
	width: 375px;
	padding-top: 22px;
	padding-bottom: 62px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recent-works h1 {
	color: #172b4d;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	text-align: center;
}

.multi-stories {
	display: grid;
}

.story {
	width: 327px;
	height: 474px;
	margin: 0 auto 24px auto;
	border-radius: 8px;
	background: #ebf0ee;
}

.story .empty {
	height: 252px;
}

.story .content {
	height: 226px;
	background: #fff;
	border: 1px solid #ebf0ee;
	border-radius: 8px;
}

.about-me h2 {
	width: 100%;
	color: #172b4d;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	margin-bottom: 24px;
}

.story .content h2 {
	text-align: center;
	color: #3a4a42;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	padding: 16px;
}

.content ul {
	display: flex;
	justify-content: center;
	margin-bottom: 29px;
}

.content li {
	background: #ebf0ee;
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 12px;
	margin: 0 4px;
}

.btn {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

a.btn {
	margin: 0 auto;
	color: #fff;
	background: #36b37f;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	padding: 12px;
	border-radius: 4px;
}

/* about me */
.about-me {
	width: 375px;
	height: 382px;
	background: url("./images/bg-img-1.svg") top right no-repeat,
		url("./images/bg-img-2.svg") bottom left no-repeat, #fff;
	padding-top: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 69px;
}

.about-me p {
	text-align: center;
	margin: 0 12px;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 24px;
	color: #42526e;
}

.vital {
	width: 375px;
	margin: 0 auto;
	background: #fff;
	padding-top: 59px;
	padding-bottom: 60px;
}

.strength {
	background: #ebf0ee;
	border: 1px solid #c1c7d0;
	border-radius: 8px;
	width: 327px;
	height: 352px;
	margin: 0 auto;
	margin-bottom: 24px;
}

.strength-img {
	width: 80px;
	height: 80px;
	background: #fff;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 64px;
}

.strength .strength-img img {
	margin: 16px;
}

.strength .strength-p {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
}

.strength ul {
	display: flex;
	justify-content: center;
}

.strength li {
	background: #fff;
	padding: 12px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	margin: 0 4px;
}

.strength .ul-1 {
	margin: auto 12px;
	margin-bottom: 8px;
}

.strength .ul-2 {
	margin: auto 125px;
	margin-bottom: 24px;
}

/* Styles for footer */

.footer {
	width: 375px;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("./images/illustration-contact-form.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
}

form h3 {
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	color: #172b4d;
	text-align: center;
	margin: 0 24px;
	margin-bottom: 58px;
}

.footer form li {
	margin-bottom: 24px;
}

form input {
	display: inline-block;
	width: 327px;
	padding: 16px;
	border: 1px solid #d0d9d4;
	border-radius: 4px;
}

form textarea {
	width: 327px;
	height: 114px;
	padding: 12px;
	color: #091e42;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	border: 1px solid #d0d9d4;
	border-radius: 4px;
}

form input::-webkit-input-placeholder {
	color: #6b778c;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

form button {
	color: #fff;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	border-radius: 4px;
	background: #36b37f;
	padding: 12px;
	border-style: none;
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 44px;
}

form button:hover {
	cursor: pointer;
	background: #36b37f;
}

form button:active {
	cursor: pointer;
	background: #008552;
}

.footer-social ul {
	display: flex;
	align-items: center;
}

.footer-social ul li {
	margin: 10px;
}

.email {
	margin-top: 24px;
}

.footer p {
	color: #42526e;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 330px;
}

.bar {
	width: 150px;
	border-bottom: 10px solid rgb(36, 35, 35);
	margin: 0 auto;
	border-radius: 5px;
	background-color: #fff;
}

.space {
	height: 10px;
}
